div {
    margin: 0 auto;
    text-align: center;
}
h1 {
    margin:20px auto;
    text-align: center;
}
form {
    margin: auto;
    display: block;
}

input {
    margin:15px auto;
    display: block;
    background-color: forestgreen;
}

button {
    margin:20px auto;
    background-color:darkcyan;
}